* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  font-size: 1rem;
  padding: 0px;
}

section {
  padding: 1em;
  display: grid;
  height: 100vh;
}

.titulosSecciones {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.8rem;
  height: 50px;
  padding: 0;
  margin: 0;
}

/*-----MENU-----*/
header {
  display: flex;
  justify-content: space-around;
}
header .header__logo {
  width: 100px;
}

/*----HOME---*/
#portada {
  padding: 0;
  background-image: url("../img/cool-background.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right top;
}
#portada .jumbotron {
  margin: 10vh 0px 0px 20px;
}
#portada h1 {
  background-color: #333366;
  grid-row-start: 3;
  color: #ffffff;
}
#portada h2 {
  background-color: darkgrey;
  color: #333366;
  margin-bottom: 30px;
}
#portada p {
  background-color: #333366;
  color: #ffffff;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

/*----SERVICIOS---*/
#servicios {
  grid-template-rows: 10% 90%;
}
#servicios .container {
  display: grid;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
}
#servicios .container .servicios__box {
  display: flex;
  flex-direction: column;
}
#servicios .container .servicios__box .servicios__foto {
  width: 150px;
  height: 150px;
  margin: 10px;
}
#servicios .container .servicios__box .servicios__titulo {
  margin-right: 10px;
  background-color: #333366;
  color: #ffffff;
  text-align: center;
}

/*--------NOSOTROS-------*/
#empresa {
  background: linear-gradient(to bottom, #ffffff 0%, #9cbcd6 56%, #333366 100%);
  color: #333366;
}
#empresa p {
  font-size: 1.3rem;
}

/*--------CLIENTES-------*/
#clientes {
  background: linear-gradient(to bottom, #333366 0%, #9cbcd6 56%, #ffffff 100%);
}

.clientes_logos {
  grid-template-rows: repeat(8, 50px);
  list-style-type: none;
}
.clientes_logos_imagenes {
  padding: 15px 20px;
  width: 300px;
}

/*--------PRESUPUESTOS-------*/
#presupuestos {
  color: #333366;
  height: 90vh;
}
#presupuestos .presupuestos__botonesForm {
  background-color: #333366;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 1.5rem;
}
#presupuestos .presupuestos__botonesForm:hover {
  background-color: darkgrey;
  color: #ffffff;
}
#presupuestos input {
  border-style: none;
  border-bottom: 2px solid darkgrey;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-size: 1.5rem;
  width: 100%/2;
  color: #333366;
}
#presupuestos textarea {
  border-style: none;
  border-bottom: 2px solid #333366;
  background-color: #ffffff;
  color: #333366;
  font-weight: bold;
  width: 50%;
  font-size: 1rem;
}
#presupuestos option {
  font-size: 1rem;
}

/*--------FOOTER-------*/
footer {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
footer .margenLogo {
  width: 150px;
  height: 60;
}
footer p {
  font-size: 0.75em;
  margin-left: 10px;
  color: #333366;
}

/*tablets*/
@media screen and (min-width: 768px) {
  .clientes_logos {
    grid-template-columns: 1fr 1fr;
  }

  section {
    height: 100vh;
  }
}
/*desktop*/
@media screen and (min-width: 900px) {
  * {
    font-size: 1.2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  header .header__logo {
    width: 200px;
    justify-content: flex-start;
    margin: 25px;
  }

  #portada {
    padding: 0;
    background-image: url("../img/cool-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    font-size: 1.5rem;
  }

  .container {
    display: flex;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 80vh;
  }
  .container .servicios__box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
  }
  .container .servicios__box:hover {
    flex: 7;
    height: 100%;
  }
  .container .servicios__foto {
    width: 200%;
    height: calc(100% - 15vh);
    object-fit: cover;
    transition: 0.5s;
  }
  .container .servicios__titulo {
    font-size: 1rem;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 1;
    color: #333366;
    background-color: #ffffff;
    margin-top: 20px;
  }

  .clientes_logos {
    display: flex;
    flex-wrap: wrap;
  }
  .clientes_logos_imagenes {
    margin: 1rem;
    width: 400px;
    height: 120px;
  }

  section {
    height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
