* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  padding: 0px;
}

section {
  font-size: 1.5rem;
  padding: 1em;
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(8, 12.5%);
}

.titulosSecciones {
  grid-column-start: 1;
  grid-row-start: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

/*-----MENU-----*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav ul li {
  color: #0C0A3E;
  font-size: 150%;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #333366;
}
header nav ul li a:hover {
  background-color: darkgray;
  color: ghostwhite;
  padding: 4px;
}

/*----HOME---*/
#portada {
  padding: 0;
  background-image: url("../img/cool-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#portada .jumbotron {
  margin: 40vh 0px 0px 20px;
}
#portada h1 {
  background-color: #333366;
  grid-row-start: 3;
  color: #ffffff;
}
#portada p {
  background-color: #333366;
  color: #ffffff;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

/*----SERVICIOS---*/
.container {
  display: flex;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  height: 80vh;
}
.container .servicios__box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}
.container .servicios__box:hover {
  flex: 7;
  height: 100%;
}
.container .servicios__box .servicios__foto {
  width: 200%;
  height: calc(100% - 15vh);
  object-fit: cover;
  transition: 0.5s;
}
.container .servicios__titulo {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 1;
  color: #333366;
  background-color: #ffffff;
  margin-top: 20px;
}

/*--------NOSOTROS-------*/
#empresa {
  background: linear-gradient(to bottom, #ffffff 0%, #9cbcd6 56%, #333366 100%);
  color: #333366;
  grid-column-start: 2;
  grid-column-end: span 7;
  grid-row-start: 2;
  grid-row-end: span 6;
}

/*--------CLIENTES-------*/
#clientes {
  background: linear-gradient(to bottom, #333366 0%, #9cbcd6 56%, #ffffff 100%);
}

.clientes_logos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: left;
  grid-column-start: 1;
  grid-row-start: 2;
  list-style-type: none;
}
.clientes_logos__imagenes {
  display: grid;
  padding: 1rem;
}

/*--------PRESUPUESTOS-------*/
#presupuestos {
  color: #333366;
  height: 90vh;
}
#presupuestos .presupuestos__botonesForm {
  background-color: #333366;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 1.5rem;
}
#presupuestos .presupuestos__botonesForm:hover {
  background-color: darkgrey;
  color: #ffffff;
}
#presupuestos input {
  border-style: none;
  border-bottom: 2px solid darkgrey;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-size: 1.5rem;
  width: 100%/2;
  color: #333366;
}
#presupuestos textarea {
  border-style: none;
  border-bottom: 2px solid #333366;
  background-color: #ffffff;
  color: #333366;
  font-weight: bold;
  width: 50%;
  font-size: 1rem;
}
#presupuestos option {
  font-size: 1rem;
}

/*--------FOOTER-------*/
footer p {
  font-size: 0.75em;
  margin-left: 10px;
  color: #333366;
}

/*tablets*/
@media screen and (min-width: 768px) {
  .clientes_logos {
    grid-template-columns: 1fr 1fr;
  }

  section {
    height: 100vh;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  nav {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  .clientes_logos {
    grid-template-columns: 1fr 1fr;
  }
  .clientes_logos_imagenes {
    margin: 1rem;
  }

  section {
    height: 100vh;
  }

  #presupuestos {
    height: 75vh;
  }
}

/*# sourceMappingURL=styles.css.map */
