$azul: #333366;
$gris: darkgrey;
$blanco: #ffffff;
$sombras: #001514;
$nav-height: 60px;

*{
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    padding: 0px;
  }

  section{
      padding: 1em;
      display: grid;
      height: 100vh;
  }
  .titulosSecciones{
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.8rem;
      height: 50px;
      padding: 0;
      margin: 0;
  }
/*-----MENU-----*/
  header{
    display: flex;
    justify-content: space-around;
    .header__logo{
      width: 100px;
    }
  }
  
 /*----HOME---*/
 #portada{
    padding: 0;
    background-image: url("../img/cool-background.svg");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right top;
      .jumbotron{
        margin: 10vh 0px 0px 20px;
      }
      h1{
        background-color: $azul;
        grid-row-start: 3;
        color: $blanco;
      }
      h2{
          background-color: $gris;
          color: $azul;
          margin-bottom: 30px;
      }
      p{
        background-color: $azul;
        color: $blanco;
      }
  }
  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color: $blanco;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
  
  .whatsapp-icon {
    margin-top:13px;
}
/*----SERVICIOS---*/
    #servicios{
        grid-template-rows: 10% 90%;
    .container{
        display: grid;
        width: 100vw;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        .servicios__box{
            display: flex;
            flex-direction: column;
            .servicios__foto{
                width: 150px;
                height: 150px;
                margin: 10px;
            }
            .servicios__titulo{
                margin-right: 10px;
                background-color: $azul;
                color: $blanco;
                text-align: center;
            }
        }
        }
    }

/*--------NOSOTROS-------*/
#empresa{
    background: linear-gradient(to bottom, #ffffff 0%,#9cbcd6 56%,#333366 100%);
    color: $azul;
    p{
        font-size: 1.3rem;
    }
}

/*--------CLIENTES-------*/
#clientes{
    background: linear-gradient(to bottom, #333366 0%,#9cbcd6 56%,#ffffff 100%);
}
.clientes_logos{
    grid-template-rows: repeat(8, 50px);
    list-style-type: none;
      &_imagenes{
          
          padding: 15px 20px;
          width: 300px;
      }
  }
/*--------PRESUPUESTOS-------*/
#presupuestos{
    color: $azul;
    height: 90vh;

      .presupuestos__botonesForm{
          background-color: $azul;
          border-radius: 10px;
          color: $blanco;
          padding: 10px;
          font-size: 1.5rem;
  
      &:hover{
          background-color: $gris;
          color: $blanco;
      }
      }
      input{
          border-style: none;
          border-bottom: 2px solid $gris;
          background-color:$blanco;
          margin-bottom: 10px;
          font-size: 1.5rem;
          width: 100% / 2;
          color: $azul;
      }
      textarea{
          border-style: none;
          border-bottom: 2px solid $azul;
          background-color: $blanco;
          color: $azul;
          font-weight: bold;
          width: 50%;
          font-size: 1rem;
      }
      option{
          font-size: 1rem;
      }
  }
/*--------FOOTER-------*/
footer {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        .margenLogo{
            width: 150px;
            height: 60;
        }
        p{
            font-size: 0.75em;
            margin-left: 10px;
            color: $azul;
        }
}
  

/*tablets*/
@media screen and (min-width:768px){
    .clientes_logos{
        grid-template-columns: 1fr 1fr; 
    }
    section{
        height: 100vh;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
   *{
       font-size: 1.2rem;
   }
    header{
        display: flex;
        justify-content: space-between;
        .header__logo{
            width: 200px;
            justify-content: flex-start;
            margin: 25px;
        }
    }
    .container {
        display: flex;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        height: 80vh;
            .servicios__box {
            flex: 1;
            overflow: hidden;
            transition: .5s;
            margin: 0 2%;
            box-shadow: 0 20px 30px rgba(0,0,0,.1);
            line-height: 0;
                &:hover{
                flex: 7;
                height: 100%;
            }
            .servicios__foto{
            width: 200%;
            height: calc(100% - 15vh);
            object-fit: cover; 
            transition: .5s;
            }
            }
            .servicios__titulo {
            font-size: 1rem;
            display: block;
            text-align: center;
            height: 10vh;
            line-height: 1;
            color: $azul;
            background-color: $blanco;
            margin-top: 20px;
            }
        }

    .clientes_logos{
        grid-template-columns: 1fr 1fr; 
    &_imagenes{
        margin: 1rem;
    }
    }
    section{
        height: 100vh;
    }
    #presupuestos{
        height: 75vh;
    }
}